color-darkest = #202225
color-darker = #2F3136
color-dark = #35393F
color-light = #E6E1DC
color-lighter = #F5F3F1
color-lightest = #F9F8F7
color-accent = lighten(#00ccff, 80%)
color-brand = #00ccff

color-danger = #e74a3b
color-success = #1cc88a
// color-accent = #B1D4AE